{% extends "auctions/layout.html" %}
{% block body %}
<h1 style="font-family: monospace;color: red">Categories</h1>
  <ul>
    <li><a href="http://127.0.0.1:8000/categories/Home">Home</a></li>
    <li><a href="http://127.0.0.1:8000/categories/Education">Education</a></li>
    <li><a href="http://127.0.0.1:8000/categories/Health">Health</a></li>
    <li><a href="http://127.0.0.1:8000/categories/Automobile">Automobile</a></li>
    <li><a href="http://127.0.0.1:8000/categories/Sports">Sports</a></li>
    <li><a href="http://127.0.0.1:8000/categories/Fashion">Fashion</a></li>
    <li><a href="http://127.0.0.1:8000/categories/Others">Others</a></li>
  </ul>
{% endblock %}